<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Account Assigner</h1>
    <p class="lead">Account assignment system for Support organizations using dedicated engineers</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
