<footer class="footer">
  <div class="container">
    <span class="text-center text-white">Copyright &copy; <%= link_to "Logan MacLaren", "https://www.linkedin.com/in/loganmaclaren/", class:"text-white" %></span>
  </div>
</footer>
