<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Logan MacLaren", "https://www.linkedin.com/in/loganmaclaren/", class:"text-white" %></small>
  </div>
</footer>
